body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica;
    color: #333;
    padding-top: 60px;
    padding-bottom: 20px;
}
.hero-unit {
  margin: 30px auto 0 auto;
  width: 440px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.error {
    color: red;
    font-size: 11px;
}

h3 {
    color: blue;
}
h1 {
    color: red;
}
#cif {
    display: none;
}

meter {
    color: red;
    height: 23px;
    width: 140px;
}
.form-horizontal{
    background-color: #F2F2F2;
}